Nama : DENAYA MAHABAH YOUSI

NIM : 180411100098

## Tugas 1 Data Mining

In [1]:
from scipy import stats
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv('data1.csv')
df

    Tinggi Badan (cm)  Berat Badan (kg)  Lebar Bahu (cm)  Tk Darah (mm/Hg)
0                 173                65               39               142
1                 154                72               40               145
2                 165                59               43               164
3                 156                65               38               133
4                 156                59               37               147
5                 163                49               44               132
6                 174                53               40               169
7                 175                41               37               121
8                 160                40               48               157
9                 157                54               38               149
10                163                65               44               135
11                157                54               36               125
12                162                62               40               111
13                164                79               44               108
14                175                74               43               168
15                155                47               41               166
16                171                59               42               120
17                171                57               39               168
18                163                75               36               129
19                168                74               36               125
20                160                61               50               154
21                157                50               41               124
22                167                48               43               118
23                173                64               46               105
24                162                63               44               107
25                170                56               43               152
26                173                78               50               142
27                157                65               44               130
28                163                59               45               140
29                166                72               39               156
..                ...               ...              ...               ...
70                171                68               41               101
71                165                45               47               120
72                160                61               46               130
73                166                61               45               109
74                170                74               38               103
75                173                55               35               163
76                166                63               35               137
77                166                70               38               108
78                166                60               37               120
79                171                63               47               105
80                173                76               37               104
81                159                50               44               139
82                155                75               50               168
83                169                58               46               118
84                171                41               46               108
85                161                65               42               152
86                163                43               49               130
87                161                44               40               132
88                160                56               41               119
89                163                61               45               169
90                163                63               35               153
91                154                45               46               150
92                157                58               49               147
93                158                67               47               117
94                160                52               47               102
95                167                41               44               134
96                168                66               49               142
97                161                49               38               116
98                159                65               49               161
99                175                41               46               157

[100 rows x 4 columns]

In [7]:
from IPython.display import HTML, display
import tabulate
table=[
        ["stats"]+[x for x in df.columns],
        ["count"]+[df[col].count() for col in df.columns],
        ["mean"]+[df[col].mean() for col in df.columns],
        ["std"]+["{:.2f}".format(df[col].std()) for col in df.columns],
        ["min"]+[df[col].min() for col in df.columns],
        ["max"]+[df[col].max() for col in df.columns],
        ["q1"]+[df[col].quantile(0.25) for col in df.columns],
        ["q2"]+[df[col].quantile(0.50) for col in df.columns],
        ["q3"]+[df[col].quantile(0.75) for col in df.columns],
        ["skew"]+["{:.2f}".format(df[col].skew()) for col in df.columns],
     ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))